header{
    background-color: rgb(182, 134, 4);
    text-align: right;
    div{
        margin:10px 20px;
        display: inline-block;
        a{
            text-decoration: none;
            color:white;
        }
    }
}