<link rel="stylesheet" href="<%=assetsPath('css/_chatbox.css')%>">
<div id='chat-box'>
    <div id='messages-container'>
        <ul type='none'>
            <li class='other-message'>
                <div>
                    Other Message
                </div>
            </li>
            <li class='self-message'>
                <div>
                    Self Message
                </div>
            </li>
        </ul>
    </div>
    <div id='chat-input'>
        <input type="text">
        <input type="submit" value='SEND'>
    </div>
</div>
