footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: slategrey;
}

footer div {
  display: inline-block;
  margin: 10px 20px;
}

footer div a {
  color: white;
  text-decoration: none;
}
